body{
    background-image: url('pxfuel.jpg');
}
.container-sm{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    min-width:800px;
    display: inline-block;
}
.container-sm{
    max-width:1000px;
}

input{
    border:none;
}
input[type="text"]::placeholder {
    text-align: right;
}
